/* Reset */
*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.5rem;
    background: #808cab;
}

th {
    padding: 2px 6px;
}

td {
    padding: 1px 6px;
}

.menu {
    background: #111010;
    padding: 0 1.5rem;
}

.menu__links {
    list-style: none;
    display: flex;

}

.menu__links a {
    display: block;
    color: #fff;
    padding: 1.5rem;
    font-weight: bold;
}

.menu__links a:hover {
    background: rgba(2, 130, 98, 0.749);
    text-decoration: underline;
}